<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Patient care</div>
    <div class="page__content shadow p-3 position-relative">
      <div class="page__content-data position-absolute text-center">
        patientcare works
      </div>

    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4>Book Health Packages</h4>
            <h5>Standard & Personalized health checks form Men and Women</h5>      
            <a href="#" class="card-link">click here</a>          
        </div>
      </div>
  


      <div class="card card2" style="width: 18rem;">
        <div class="card-body card3">
          <h4>Book Homecare Health Services</h4>
            <h5>Elderly Care , Physiotherapy, Vaccinations, Nursing</h5>      
            <a href="#" class="card-link">click here</a>          
        </div>
      </div>


      <div class="card " style="width: 18rem;">
        <div class="card-body card7">
          <h4>Book Lab Test & Diagnostics</h4>
            <h5>Blood Test, Thyroid , Diabetics , MRI , CT scan </h5>      
            <a href="#" class="card-link">click here</a>          
        </div>
      </div>

      
    </div>

 
  </div>
  