<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Dashboard</div>
  <div class="page__content shadow p-3 position-relative">

    <div class="card2">

      <div class="card" style="width: 12rem ;">
        <div class="card-body">
          <h4 class="card-title">Total Appointmemts Today</h4>
          <mat-divider class="divider"></mat-divider>
          <h3>4</h3>
        </div>
      </div>

      <div class="card" style="width: 12rem ;">
        <div class="card-body">
          <h4 class="card-title">Medicines Added <br> Today</h4>
          <mat-divider class="divider"></mat-divider>
          <h3>3</h3>
        </div>
      </div>

      <div class="card" style="width: 12rem ;">
        <div class="card-body">
          <h4 class="card-title">Distributors Added Today </h4>
          <mat-divider class="divider"></mat-divider>
          <h3>5</h3>
        </div>
      </div>

      <div class="card" style="width: 12rem ;">
        <div class="card-body">
          <h4 class="card-title">Patients Registered <br> Today </h4>
          <mat-divider class="divider"></mat-divider>
          <h3>{{count}}</h3>
        </div>
      </div>

 
    </div>

<!-- 
    <div class="row">
    <mat-card >
      <mat-card-content>X-ray Technician Progress</mat-card-content>
    </mat-card>
    <mat-card >
      <mat-card-content>Radiology Technician Progress</mat-card-content>
    </mat-card>
    <mat-card >
      <mat-card-content>Laboratory Technician Progress</mat-card-content>
    </mat-card>
    <mat-card >
      <mat-card-content>X-ray Technician Progress</mat-card-content>
    </mat-card>
  </div> -->



<div class="grahps">
    <div class="card" style="width: 30rem ; ">
      <div class="card-body1" >
        <canvas id="myChart" ></canvas>
      </div>
    </div>

    <div class="card" style="width: 27rem ;">
      <div class="card-body1">
        <mat-hint style="font-size: medium; font-weight: bold; margin-left: 50px;">Number of Doctors Added Over the year</mat-hint>
        <canvas id="myChart1"></canvas>

      </div>
    </div>
  </div>

  </div>
</div>