<mat-nav-list>  
    <img src="./assets/hospital.png" alt="Company Logo" width="260" height="73" class="logoo" />
  
  <mat-divider ></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <!-- <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
  </div> -->
  
  <!-- <div class="btn-group">
    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Dropdown
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
      <li><a class="dropdown-item" href="#">Menu item</a></li>
    </ul>
  </div> -->




 <a  mat-list-item  routerLinkActive="list-item-active" routerLink="/home"><mat-icon>home</mat-icon>Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard"><mat-icon>dashboard</mat-icon> Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/doctors"><mat-icon>domain</mat-icon> Our Doctors</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/patientcare"><mat-icon>accessible</mat-icon> Patient Care</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/bookappointment"><mat-icon>edit</mat-icon>Book Appointment</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/location"><mat-icon>location_on</mat-icon>Our Branches</a>



  
</mat-nav-list>
