:host {
  .mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
}
.logo {
  text-align: center;
  padding: 2.6rem 1rem;
  img {
    width: 200px;
  }
}

.mat-divider {
  border-top-width: 2px;
  border-color: white;
  position: relative;
  top: -9px;
}
.mat-list-item {
  color: #b031f0 !important;
  font-size: 0.8rem;
  height: 44px !important;
  margin-bottom: 4px;
  &:hover {
    color: #ebcffc !important;
  }
  ::ng-deep {
    .mat-list-item-content {
      border-radius: 9px;
      margin: 0 10px;
      &:hover {
        background: #bc67f6 !important;
      }
    }
  }
}
.list-item-active {

  color: #f2f5f7 !important;
  ::ng-deep {
    .mat-list-item-content {
      background:#bc67f6 !important;
      &:hover {
        background: #2c3344 !important;
      }
    }
  }
}
.mat-subheader {
  color: #818cf8;
  font-size: 0.6rem;
  font-weight: 100;
  letter-spacing: 1px;
}


/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: green;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

.logoo{
  margin-top: 0;
  position: relative;
  top: -9px;
}